    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <img src="icon.png" id="logo"/>
            <a id="title" class="navbar-brand" href="index.html"><h1>League of Legends Tracker</h1></a>
        </nav>
        <div id="layoutSidenav">
            <app-twitter-api></app-twitter-api>
            <div id="layoutSidenav_content">
                <main>
                   <div class="container-fluid">  
                        <app-riot-api></app-riot-api>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; HENRY Allan 2020</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>
